{% extends 'base.html' %}

{% block main %}
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners</p>
    <br>
    <form method='POST' action="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}
            <p> Please enter your full name</p>
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }} 
            <p>Please enter Your e-mail address</p> 
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subject.label }} 
            <p>Please enter the subject of your message.</p>
            {{ form.subject(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.message.label }}
            <p>Please enter the message you would like to send.</p> 
            {{ form.message(class="form-control") }}
        </div>
        <button type="submit" class="btn"> Send </button>
    </form>

{% endblock %}